{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --file=/dev/stdin <<EOF

brew "fish"
brew "starship"
brew "tmux"
brew "neovim"
brew "eza"
brew "fd"
brew "fzf"
brew "ripgrep"
brew "gh"
brew "ghq"

cask "iterm2"
cask "visual-studio-code"

cask "font-jetbrains-mono-nerd-font"
cask "font-udev-gothic"

EOF

{{ end -}}
