[user]
  useConfigOnly = true
[include]
  path = ~/.gitconfig.local
[includeIf "gitdir:~/repos/github.com/"]
  path = ~/.gitconfig.mashiro
[includeIf "gitdir:~/go/src/github.com/"]
  path = ~/.gitconfig.mashiro
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore.global
[alias]
  b = branch
  co = checkout
  ls = ls-files
  lg = log --graph --pretty=oneline --abbrev-commit
  lgd = !git lg --decorate
  st = status
  fix = commit --amend
  sm = submodule
[push]
  default = simple
  autoSetupRemote = true
[fetch]
  prune = true
[pull]
  ff = only
[rebase]
  autostash = true
  autosquash = true
[pager]
  branch = false
[ghq]
  root = ~/go/src
  root = ~/repos

