[user]
	name = mashiro
	email = y.mashiro@gmail.com
[color]
	ui = true
[core]
	pager = iconv -f UTF-8 | less -r
	excludesfile = ~/.gitignore.global
	autocrlf = input
[alias]
	b = branch
	co = checkout
	ls = ls-files
	st = status
