set clipboard=unnamed,unnamedplus
set visualbell
set surround

" escape
noremap <C-j> <C-[>
inoremap <C-j> <C-[>

" emacs like move
noremap <C-a> <Home>
noremap! <C-a> <Home>
noremap <C-e> <End>
noremap! <C-e> <End>
noremap! <C-f> <Right>
noremap! <C-b> <Left>
noremap! <C-p> <Up>
noremap! <C-n> <Down>
noremap <C-k> D
inoremap <C-k> <C-o>D

" jump
nnoremap gd :<C-u>action GotoDeclaration<CR>
nnoremap gs :<C-u>action GotoSuperMethod<CR>
nnoremap gi :<C-u>action GotoImplementation<CR>
nnoremap gb :<C-u>action JumpToLastChange<CR>
nnoremap g; :<C-u>action JumpToLastChange<CR>
nnoremap g, :<C-u>action JumpToNextChange<CR>

nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>

nnoremap [m :<C-u>action MethodUp<CR>
nnoremap ]m :<C-u>action MethodDown<CR>
nnoremap [e :<C-u>action GotoPreviousError<CR>
nnoremap ]e :<C-u>action GotoNextError<CR>
nnoremap [c :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap ]c :<C-u>action VcsShowNextChangeMarker<CR>

" actions
nnoremap <Space>r :<C-u>action Refactorings.QuickListPopupAction<CR>
nnoremap <Space>= :<C-u>action ReformatCode<CR>
nnoremap <Space>s :<C-u>action SearchEverywhere<CR>
nnoremap <Space>a :<C-u>action GotoAction<CR>
nnoremap <Space>c :<C-u>action GotoClass<CR>
nnoremap <Space>f :<C-u>action GotoFile<CR>
nnoremap <Space>b :<C-u>action RecentChangedFiles<CR>
nnoremap <Space>w :<C-u>action SaveAll<CR>
nnoremap <Space>q :<C-u>action CloseContent<CR>

