@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("danbooru.donmai.us"),
               domain("oreno.imouto.org"),
               domain("safebooru.org"),
               domain("gelbooru.com"),
               domain("nekobooru.net"),
               domain("konachan.com") {

span.blacklisted,
li.javascript-hide {
	display: inline-block !important;
}

hr.autopagerize_page_separator {
	clear: both !important;
}

}
