@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document
	url-prefix("http://www.google.co.jp/reader/view/"),
	url-prefix("https://www.google.co.jp/reader/view/") {

#lhn-add-subscription-section,
#lhn-selectors,
#lhn-friends,
#lhn-recommendations,
#viewer-footer {
	display: none !important;
}

#nav { width: 240px !important; }
#chrome { margin-left: 240px !important; }

#sub-tree {
	font-size: 12px !important;
	line-height: 20px !important;
}

}
