@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("reader.livedoor.com") {
	div.item_info {text-indent: -3em;}
	div.item_info a {visibility: hidden;}
	div.item_info a::after {visibility: visible; content: attr(href);}
	#header,/*#menu,*/#welcome,#footer,#ads_top,#ads_bottom,#keyhelp {display:none!important;}
}
