@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("www.pixiv.net") {

/* 広告全般 */
*[id^="adver"],
*[class^="adver"],
a[href^="adver"],
*[id^="ads"],
*[class^="ads"],
a[href^="ads"] {
	display: none !important;
}

/* プレミアム */
.profile_area > p {
	display: none !important;
}

/* ニュース */
.contents-main > div:nth-child(1),
.contents-main > div:nth-child(2),
.contents-main > div:nth-child(3) {
	display: none !important;
}

/* pixivニュース */
.contents-right > div:nth-child(3),
.contents-right > div:nth-child(4) {
	display: none !important;
}

.search_a2_right {
	display: none !important;
}

}
