@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* 新しいタブを開くボタンを非表示 */
#new-tab-button,
.tabs-newtab-button {
    display: none !important;
}

/* タブ一覧表示ボタンを非表示 */
#alltabs-button,
.tabs-alltabs-button {
    display: none !important;
}

/* リンク/ブックマークコンテキストメニューの「新しいウィンドウで開く」を非表示にする */
#context-openlink,
#placesContext > menuitem[id="placesContext_open:newwindow"] {
    display: none !important;
}
