<UserScriptConfig>
	<Script filename="autopagerize.user.js" name="AutoPagerize" namespace="http://swdyh.yu.to/" description="loading next page and inserting into current page." version="" enabled="true" runAt="document-end" basedir="autopagerize" modified="1326171375000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320814514000" installurl="http://userscripts.org/scripts/source/8551.user.js" updateurl="http://userscripts.org/scripts/source/8551.meta.js">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Exclude>https://mail.google.com/*</Exclude>
		<Exclude>http://b.hatena.ne.jp/*</Exclude>
		<Exclude>http://www.facebook.com/plugins/like.php*</Exclude>
		<Exclude>http://api.tweetmeme.com/button.js*</Exclude>
	</Script>
	<Script filename="minibuffer.user.js" name="Minibuffer" namespace="http://white.s151.xrea.com/" description="Minibuffer" version="" enabled="true" runAt="document-end" basedir="minibuffer" modified="1326171375000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000">
		<Include>*</Include>
	</Script>
	<Script filename="ldrize.user.js" name="LDRize" namespace="http://white.s151.xrea.com/" description="j,k,v,p,o,:,f,? + l,s,i" version="" enabled="true" runAt="document-end" basedir="ldrize" modified="1326171375000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1320824496000" installurl="http://userscripts.org/scripts/source/11562.user.js" updateurl="http://userscripts.org/scripts/source/11562.meta.js">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Include>file:///*</Include>
	</Script>
	<Script filename="ldr__tombloo.user.js" name="LDR + Tombloo" namespace="http://userscripts.org/users/7010" description="" version="" enabled="true" runAt="document-end" basedir="ldr__tombloo" modified="1315796461000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000">
		<Include>http://reader.livedoor.com/reader/*</Include>
		<Include>http://fastladder.com/reader/*</Include>
	</Script>
	<Script filename="dashboard__tombloo.user.js" name="Dashboard + Tombloo" namespace="http://d.hatena.ne.jp/Constellation/" description="register reblog command by Tombloo" version="" enabled="true" runAt="document-end" basedir="dashboard__tombloo" modified="1315796461000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000">
		<Include>http://www.tumblr.com/dashboard*</Include>
		<Include>http://www.tumblr.com/tumblelog*</Include>
		<Include>http://www.tumblr.com/show*</Include>
		<Include>http://www.tumblr.com/iphone*</Include>
	</Script>
	<Script filename="pixiv__tombloo.user.js" name="Pixiv + Tombloo" namespace="http://gist.github.com/660432" description="" version="" enabled="true" runAt="document-end" basedir="pixiv__tombloo" modified="1315796461000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000">
		<Include>http://www.pixiv.net/*</Include>
	</Script>
	<Script filename="googlereader__tombloo.user.js" name="GoogleReader + Tombloo" namespace="http://d.hatena.ne.jp/Constellation/" description="instead of LDR + Tombloo for GoogleReader" version="0.0.1" enabled="true" runAt="document-end" basedir="googlereader__tombloo" modified="1315796461000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000">
		<Include>http://www.google.tld/reader/*</Include>
	</Script>
	<Script filename="google_reader_prefetch_m.user.js" name="Google Reader Prefetch More" namespace="http://userscripts.org/users/40991" description="" version="" enabled="true" runAt="document-end" basedir="google_reader_prefetch_m" modified="1315796461000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000">
		<Include>http://www.google.tld/reader/*</Include>
		<Include>https://www.google.tld/reader/*</Include>
		<Unwrap/>
	</Script>
	<Script filename="ldr_full_feed.user.js" name="LDR Full Feed" namespace="http://d.hatena.ne.jp/Constellation/" description="loading full entry on LDR and Fastladder" version="0.0.33" enabled="true" runAt="document-end" basedir="ldr_full_feed" modified="1315796461000" dependhash="9f5fa54368ff588ba54719be1262dd082025b2f0" checkRemoteUpdates="true" updateAvailable="false" lastUpdateCheck="1315796461000" installurl="http://userscripts.org/scripts/source/22702.user.js" updateurl="http://userscripts.org/scripts/source/22702.meta.js">
		<Include>http://reader.livedoor.com/reader/*</Include>
		<Include>http://fastladder.com/reader/*</Include>
		<Resource name="orange" filename="orange.gif" mimetype="image/gif"/>
		<Resource name="blue" filename="blue.gif" mimetype="image/gif"/>
		<Resource name="css" filename="ldrfullfeed.css" mimetype="text/css" charset="utf-8"/>
	</Script>
</UserScriptConfig>