<UserScriptConfig>
	<Script filename="autopagerize.user.js" name="AutoPagerize" namespace="http://swdyh.yu.to/" description="loading next page and inserting into current page." enabled="true" basedir="autopagerize">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Exclude>https://mail.google.com/*</Exclude>
		<Exclude>http://b.hatena.ne.jp/*</Exclude>
		<Exclude>http://www.facebook.com/plugins/like.php*</Exclude>
		<Exclude>http://api.tweetmeme.com/button.js*</Exclude>
	</Script>
	<Script filename="minibuffer.user.js" name="Minibuffer" namespace="http://white.s151.xrea.com/" description="Minibuffer" enabled="true" basedir="minibuffer">
		<Include>*</Include>
	</Script>
	<Script filename="ldrize.user.js" name="LDRize" namespace="http://white.s151.xrea.com/" description="j,k,v,p,o,:,f,? + l,s,i" enabled="true" basedir="ldrize">
		<Include>http://*</Include>
		<Include>https://*</Include>
		<Include>file:///*</Include>
	</Script>
	<Script filename="dashboard__tombloo.user.js" name="Dashboard + Tombloo" namespace="http://d.hatena.ne.jp/Constellation/" description="register reblog command by Tombloo" enabled="true" basedir="dashboard__tombloo">
		<Include>http://*.tumblr.com/*</Include>
	</Script>
	<Script filename="ldr__tombloo.user.js" name="LDR + Tombloo" namespace="http://userscripts.org/users/7010" description="" enabled="true" basedir="ldr__tombloo">
		<Include>http://reader.livedoor.com/reader/*</Include>
		<Include>http://fastladder.com/reader/* </Include>
	</Script>
	<Script filename="googlereader__tombloo.user.js" name="GoogleReader + Tombloo" namespace="http://d.hatena.ne.jp/Constellation/" description="instead of LDR + Tombloo for GoogleReader" enabled="true" basedir="googlereader__tombloo">
		<Include>http://www.google.tld/reader/*</Include>
	</Script>
	<Script filename="google_reader_prefetch_m.user.js" name="Google Reader Prefetch More" namespace="http://userscripts.org/users/40991" description="" enabled="true" basedir="google_reader_prefetch_m">
		<Include>http://www.google.co.jp/reader/*</Include>
		<Include>https://www.google.co.jp/reader/*</Include>
		<Unwrap/>
	</Script>
</UserScriptConfig>